.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-projects-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-projects-fill' viewBox='0 0 16 16'%3E%3Cpath d='M 10.083333,0.75 H 1.9166666 A 1.1666667,1.1666667 0 0 0 0.75,1.9166666 V 10.083333 A 1.1666667,1.1666667 0 0 0 1.9166666,11.25 H 10.083333 C 10.725,11.25 11.25,10.725 11.25,10.083333 V 1.9166666 C 11.25,1.275 10.725,0.75 10.083333,0.75 M 8.916667,6.5833333 H 6.5833333 V 8.916667 H 5.4166666 V 6.5833333 H 3.0833333 V 5.4166666 H 5.4166666 V 3.0833333 H 6.5833333 V 5.4166666 H 8.916667 Z'/%3E%3C/svg%3E");
}

.bi-settings-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-settings-fill' viewBox='0 0 16 16'%3E%3Cpath d='m 9.9375,6 c 0,-0.12075 -0.0053,-0.23625 -0.01575,-0.357 l 0.9765,-0.74025 c 0.21,-0.1575 0.267751,-0.4515 0.1365,-0.6825 L 10.052999,2.5245 A 0.518175,0.518175 0 0 0 9.396749,2.304 L 8.2679995,2.78175 c -0.19425,-0.1365 -0.399,-0.25725 -0.61425,-0.357 L 7.5014995,1.212 C 7.4699995,0.9495 7.2442495,0.75 6.9817495,0.75 h -1.95825 c -0.26775,0 -0.4935,0.1995 -0.525,0.462 l -0.15225,1.21275 c -0.21525,0.09975 -0.42,0.2205 -0.61425,0.357 L 2.6032495,2.304 c -0.2415,-0.105 -0.525,-0.0105 -0.65625,0.2205 l -0.98174997,1.701 c -0.13125,0.231 -0.0735,0.51975 0.13649997,0.6825 l 0.9765,0.74025 a 3.855075,3.855075 0 0 0 0,0.70875 l -0.9765,0.74025 C 0.89174953,7.25475 0.83399953,7.54875 0.96524953,7.77975 L 1.9469995,9.4755 c 0.13125,0.231 0.41475,0.3255 0.65625,0.2205 l 1.12875,-0.47775 c 0.19425,0.1365 0.399,0.25725 0.61425,0.357 l 0.15225,1.21275 c 0.0315,0.2625 0.25725,0.462 0.51975,0.462 h 1.95825 c 0.2625,0 0.48825,-0.1995 0.51975,-0.462 l 0.15225,-1.21275 c 0.21525,-0.09975 0.42,-0.2205 0.61425,-0.357 L 9.3915,9.696 C 9.633,9.801 9.9165,9.7065 10.04775,9.4755 L 11.0295,7.77975 C 11.16075,7.54875 11.103,7.26 10.893,7.09725 L 9.9165,6.357 C 9.93225,6.23625 9.9375,6.12075 9.9375,6 M 6.0209995,7.8375 c -1.01325,0 -1.8375,-0.82425 -1.8375,-1.8375 0,-1.01325 0.82425,-1.8375 1.8375,-1.8375 1.01325,0 1.8375,0.82425 1.8375,1.8375 0,1.01325 -0.82425,1.8375 -1.8375,1.8375'/%3E%3C/svg%3E");
}

.bi-reports-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-reports-fill' viewBox='0 0 16 16'%3E%3Cpath d='M 0.75,4.03125 H 3.375 V 11.25 H 0.75 Z m 7.875,2.625 H 11.25 V 11.25 H 8.625 Z M 4.6875,0.75 h 2.625 v 10.5 h -2.625 z'/%3E%3C/svg%3E");
}

.bi-tasks-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-tasks-fill' viewBox='0 0 16 16'%3E%3Cpath d='M 9.6749996,1.7999999 H 7.4805003 c -0.2205,-0.6090001 -0.798,-1.05000003 -1.4804999,-1.05000003 -0.6825001,0 -1.2599999,0.44099993 -1.4804999,1.05000003 H 2.3250007 c -0.5774999,0 -1.0499999,0.4724999 -1.0499999,1.0499998 v 7.3499993 c 0,0.577501 0.4725,1.050001 1.0499999,1.050001 h 7.3499989 c 0.5774994,0 1.0499994,-0.4725 1.0499994,-1.050001 V 2.8499997 c 0,-0.5774999 -0.4725,-1.0499998 -1.0499994,-1.0499998 m -3.6749992,0 c 0.2887499,0 0.5249999,0.2362499 0.5249999,0.5249999 0,0.2887499 -0.23625,0.5249999 -0.5249999,0.5249999 -0.2887501,0 -0.5250001,-0.23625 -0.5250001,-0.5249999 0,-0.28875 0.23625,-0.5249999 0.5250001,-0.5249999 M 7.0500002,9.1499988 H 3.3750006 V 8.0999992 H 7.0500002 Z M 8.6250004,7.0499994 H 3.3750006 v -1.05 h 5.2499998 z m 0,-2.1 H 3.3750006 V 3.8999996 h 5.2499998 z'/%3E%3C/svg%3E");
}

.bi-users-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-users-fill' viewBox='0 0 16 16'%3E%3Cpath d='M 8.3625,6 C 9.087,6 9.66975,5.412 9.66975,4.6875 9.66975,3.963 9.087,3.375 8.3625,3.375 a 1.3125,1.3125 0 0 0 0,2.625 M 4.425,5.475 C 5.2965,5.475 5.99475,4.7715 5.99475,3.9 5.99475,3.0285 5.2965,2.325 4.425,2.325 3.5535,2.325 2.85,3.0285 2.85,3.9 c 0,0.8715 0.7035,1.575 1.575,1.575 M 8.3625,7.05 C 7.40175,7.05 5.475,7.533 5.475,8.49375 V 9.15 c 0,0.28875 0.23625,0.525 0.525,0.525 h 4.725 c 0.28875,0 0.525,-0.23625 0.525,-0.525 V 8.49375 C 11.25,7.533 9.32325,7.05 8.3625,7.05 M 4.425,6.525 C 3.20175,6.525 0.75,7.13925 0.75,8.3625 V 9.15 c 0,0.28875 0.23625,0.525 0.525,0.525 h 3.15 V 8.49375 C 4.425,8.0475 4.59825,7.26525 5.66925,6.672 5.2125,6.5775 4.7715,6.525 4.425,6.525'/%3E%3C/svg%3E");
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M 4.8574372,10.18142 V 7.3281829 H 7.1400277 V 10.18142 c 0,0.313857 0.256791,0.570648 0.5706474,0.570648 H 9.422618 c 0.313856,0 0.570648,-0.256791 0.570648,-0.570648 V 6.1868872 h 0.970101 c 0.262498,0 0.38804,-0.3252691 0.188313,-0.4964634 L 6.3810663,1.3934472 c -0.2168461,-0.1940202 -0.5478218,-0.1940202 -0.7646679,0 L 0.84578438,5.6904238 C 0.65176418,5.8616181 0.77160018,6.1868872 1.0340981,6.1868872 h 0.970101 V 10.18142 c 0,0.313857 0.2567914,0.570648 0.5706475,0.570648 h 1.711943 c 0.3138561,0 0.5706476,-0.256791 0.5706476,-0.570648'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
